<h1> About us </h1>
<hr />

<section class="about-us">
  <div class="mission">
    <h2>Our Mission: Nurturing Nature, Nurturing You</h2>
    <p>At Jungle.com, our mission is twofold. We're dedicated to making green living accessible to everyone, ensuring that the benefits of nature are within reach, no matter where you are.</p>
    <p>Simultaneously, we're passionate about creating a platform that encourages environmental consciousness. By incorporating more greenery into your life, you're contributing to a healthier planet.</p>
  </div>

  <div class="vision">
    <h2>Our Vision: A Greener World, One Home at a Time</h2>
    <p>Our vision is to transform homes into living sanctuaries. Imagine a world where every windowsill bursts with life, where greenery thrives on balconies, and where every room is a mini-ecosystem.</p>
    <p>We're not just selling plants; we're selling a movement. By embracing plants, you're taking a step towards sustainability and biodiversity. Together, we can create a greener planet, one home at a time.</p>
  </div>

  <div class="promise">
    <h2>Our Promise: Quality and Care</h2>
    <p>When you shop at Jungle.com, you're not just buying a plant – you're gaining a companion. Each plant is handpicked and nurtured with care before it finds its way to you.</p>
    <p>We're committed to ensuring that your green companions thrive in their new homes. Our resources and guidance are here to support you on your journey to becoming a plant parent.</p>
  </div>
</section>